name: Update docs

on:
  push:
    paths-ignore:
      - '.github/**'
      - 'README.md'
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
  
jobs:
  update-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.REPO_TOKEN }}
          
      - name: Run helm-docs
        run: |
          GOBIN=$PWD GO111MODULE=on go get github.com/norwoodj/helm-docs/cmd/helm-docs
          ./helm-docs --sort-values-order file
          rm helm-docs

      - name: Commit bump
        uses: EndBug/add-and-commit@v7
        with:
            message: 'Regenerate chart README.md'
